// Content
//
//////////////////////////////////////////////////////////////////////

.layout-content {
	@extend %border-box;
	width: 100%;
	max-width: 150rem;
	margin: auto;
	padding: 0 2rem;

	@include breakpoint(max-width $wider) {
		max-width: 100%;
		padding: 0 1rem;
	}
}

.layout-content--narrow {
	@extend .layout-content;
	max-width: 75rem;
	padding: 2rem;
}