// Footer
//
//////////////////////////////////////////////////////////////////////

$footer-height: 5rem;

.layout-footer__wrapper {
	min-height: 100%;
	position: relative;

	.layout-content {
		padding-bottom: $footer-height + 4rem;
		height: 100%;
	}
}

.layout-footer {
	height: $footer-height;
	@extend %background-base;
	text-align: center;
	font-size: 1rem;
	padding: 1rem 0;
	text-shadow: none;
	font-weight: 100;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;

	a {
		color: lighten($color-base, 20);
	}
}
