// Header
//
//////////////////////////////////////////////////////////////////////

.layout-header {
	@extend %background-base;
	padding: 5rem 0;

	h1 {
		@extend %reset-margins;
		font-weight: 100;
		text-align: center;
	}
}

.layout-search {
	@include transition(background .3s);
	width: 100%;
	border: none;
	padding: 1rem;
	font-size: 1.5rem;
	background-color: lighten($color-silver, 20);
	color: darken($color-silver, 20);
	outline: 0;

	&:focus {
		background-color: lighten($color-silver, 25);
	}
}