// NAVIGATION
//
//////////////////////////////////////////////////////////////////////

$padding: 0.5rem;

.layout-navigation {
	@extend %border-box;
	width: 100%;
	text-align: right;
	background-color: $color-base--dark;
	padding: $padding;
	color: white;
	position: relative;

	a {
		list-style-type: none;
		@extend .btn;
		padding: 0.5rem 0.75rem;
	}

	@include breakpoint(max-width $tablet) {
		text-align: center;

		.layout-navigation__main {
			position: static;
			margin: 0 0 0.5rem;
			text-align: center;
		}
	}
}

.layout-navigation__main {
	margin: 0;
	position: absolute;
	top: $padding;
	left: $padding;
}