# Dotfiles
.DS_Store

# Credentials
sftp-config.json

# Database
app/config/production/database.php

# Caches
.sass-cache
bootstrap/compiled.php
public/builds
public/app/js
storage/debugbar/

# Libraries
node_modules
public/components
public/packages
vendor

# Development
.idea
