// ALERTS
//
//////////////////////////////////////////////////////////////////////

.alert {
	@extend .tag;
	@include border-radius(0);
	cursor: default;
	display: block;
	margin: 0;
	padding: 0.5rem 0;
	text-align: center;
	width: 100%;
}

.alert-success {
	@extend .alert;
	background-color: $color-green;
}

.alert-error {
	@extend .alert;
	background-color: $color-red--dark;
}