// BUTTONS
//
//////////////////////////////////////////////////////////////////////

.btn {
	@extend %background-transition;
	@extend .tag;
	border: none;
	clear: both;

	&:hover {
		background-color: lighten($color-base, 5);
	}
}