// Packages list
//
//////////////////////////////////////////////////////////////////////

.packages-list {
	color: $color-silver--dark;

	thead th {
		padding: 1rem;
	}

	.tag {
		@include rgba-background(rgba($color-base, .5));
		font-size: 0.75rem;
		margin-left: 0.1rem;

		&:hover {
			background-color: $color-base;
		}
	}
}

// Header
//////////////////////////////////////////////////////////////////////

.packages-list .packages-list__empty {
	color: $color-silver--dark;
	text-align: center;

	td {
		padding: 2rem 0;
	}
}

.packages-list thead .packages-list__types th {
	background-color: $color-silver;
	color: $color-silver--dark;
	text-shadow: none;
	font-size: 0.75rem;
	padding: 0.75rem 0;

	&:hover {
		background-color: lighten($color-silver, 10);
	}
}

// Packages
//////////////////////////////////////////////////////////////////////

.packages-list__key {
	width: 5%;
	text-align: center;
}

tbody .packages-list__downloads {
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
}

tbody .packages-list__description {
	color: $color-silver--dark ;
}

// Pagination
//////////////////////////////////////////////////////////////////////

.packages-list__pagination {
	td, td:hover {
		padding: 0;
		background-color: lighten($color-base, 20);
	}

	ul {
		text-align: center;
		@extend %inline-list;

		li {
			@extend .tag;
			@include border-radius(0);
			margin-right: -0.1rem;
			padding: 0.5rem 1rem;

			a, span {
				font-size: 1.5rem;
			}

			&.disabled, &.disabled:hover {
				background-color: $color-silver;
				color: white;
			}
		}
		.active {
			background-color: $color-base;
		}
	}
}