// Package
//
//////////////////////////////////////////////////////////////////////

.package {
	color: $color-silver--dark;

	h1, h2, h3 {
		font-weight: 100;

		small {
			color: $color-silver;
			font-size: 0.5em;
		}
	}
}

.package__description {
	font-size: 1rem;
	font-style: italic;
	margin: 1rem 0;
}

.package__tags {
	@extend %reset-margins;

	li {
		@extend %background-base;
		@include border-radius(0.25em);
		display: inline-block;
		margin-left: 0.25rem;
		padding: 0.25rem;
	}
}