// Package
//
//////////////////////////////////////////////////////////////////////

.package {
	color: $color-silver--dark;
}

// Informations
//////////////////////////////////////////////////////////////////////

.package__informations {
	@include container;
	max-width: 100%;
	padding: 0;
}

.package__summary {
	$offset: 7rem;
	@extend %border-box;
	@extend pre;
	margin-top: 1rem;

	dl {
		@extend %reset-margins;
		@include pie-clearfix;
	}
	dt, dd {
		display: block;
		margin-bottom: 1rem;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	dt {
		width: $offset;
		float: left;
		font-weight: bold;
	}
	dd {
		margin-left: $offset + 1rem;
	}
}

.package__status {
	@extend .tag;

	&.package__status--success {
		background-color: #2ECC71;
	}
	&.package__status--failing {
		background-color: #C0392B;
	}
	&.package__status--unknown {
		background-color: #7F8C8D;
	}
}

// External links
//////////////////////////////////////////////////////////////////////

.package__links {
	a {
		display: inline-block;
		margin-right: 1rem;

		&:hover {
			color: lighten($color-base, 10);
		}
	}


	i {
		position: relative;
		top: 1px;
	}
	.icon-github {
		top: 2px;
		font-size: 1.2em;
	}
}