// Packages list
//
//////////////////////////////////////////////////////////////////////

.packages-list {

	thead th {
		padding: 1rem 0;
	}
}

.packages-list__key {
	width: 5%;
	text-align: center;
}

.packages-list__downloads {
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
}