// Progress bars
//
//////////////////////////////////////////////////////////////////////

.progress {
	overflow: hidden;
	height: 1.5rem;
	width: 10rem;
	margin-bottom: 1rem;
	background-color: $color-silver;
	@include border-radius(0.25em);
}

.progress__bar {
	@extend %border-box;
	@extend %background-base;
	width: 0%;
	height: 100%;
	padding: 0.25rem;
	font-size: 1rem;
	text-align: center;
	float: left;
}
