{% extends 'layouts.large' %}

{% block title %}
	Activate -
{% endblock %}

{% block content %}
	<p class="alert-success">Your account was successfully activated</p>
	<p>You can go {{ HTML.link('/', 'back home') }} now.</p>
{% endblock %}
