body {
  font-family: "Proxima Nova", "proxima-nova", "Open Sans", Helvetica, Arial, sans-serif; }

a {
  color: #f66f5f;
  text-decoration: none; }

pre, .package__informations__downloads {
  background-color: #f4f5f6;
  color: #869198;
  padding: 1rem; }

hr {
  border-color: #f4f5f6;
  border-width: 1px 0 0 0;
  margin: 2rem 0; }

table {
  width: 100%; }
  table th {
    font-weight: bold; }
    table th:hover {
      background-color: #f55947;
      cursor: pointer; }
  table tr:nth-child(odd) {
    background-color: #fafafa; }
  table td {
    padding: 0.5rem; }
  table tr:hover td {
    background-color: whitesmoke; }

table th.tablesorter-headerAsc, table th.tablesorter-headerDesc {
  background-color: #f55947;
  color: white; }
  table th.tablesorter-headerAsc:hover, table th.tablesorter-headerDesc:hover {
    background-color: #f3442f; }
table th.tablesorter-headerAsc div:before {
  content: "\25B2";
  margin-right: 8px;
  margin-right: 0.5rem; }
table th.tablesorter-headerDesc div:before {
  content: "\25BC";
  margin-right: 8px;
  margin-right: 0.5rem; }

@media (min-width: 50em) and (max-width: 75em) {
  table .packages-list__tags {
    display: none; } }
@media (max-width: 50em) {
  table thead, table tbody, table th, table tr, table td {
    display: block;
    width: 100%; }
  table thead {
    display: none; }
  table td:before {
    position: absolute;
    top: 3px;
    left: 10px;
    width: 35%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: 700;
    content: attr(data-title); }
  table th, table td {
    width: 70%;
    position: relative;
    padding-left: 30%;
    text-align: left; }
  table tr {
    padding: 1rem 0; }
  table td {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    text-align: left; }
    table td.packages-list__key {
      width: 100%;
      text-align: left; }
    table td.packages-list__downloads {
      text-align: left; } }

table th, .tag, .package__tags li, .layout-header, .layout-footer {
  background-color: #f66f5f;
  color: white;
  text-shadow: 0 0.25em 0 rgba(0, 0, 0, 0.1); }
  table th a, .tag a, .package__tags li a, .layout-header a, .layout-footer a {
    color: white; }

.package__informations__downloads dl, .package__tags, .layout-header h1 {
  margin: 0;
  padding: 0; }

.package__informations__downloads, .layout-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.hidden {
  display: none; }

.visible {
  display: block; }

.tag, .package__tags li {
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  display: inline-block;
  margin-left: 0.25rem;
  padding: 0.25rem; }

.package {
  color: #869198; }
  .package h1, .package h2, .package h3 {
    font-weight: 100; }
    .package h1 small, .package h2 small, .package h3 small {
      color: #bdc3c7;
      font-size: 0.75em; }

.package__informations {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 0; }
  .package__informations:after {
    content: "";
    display: table;
    clear: both; }
  .package__informations .package__informations__informations {
    width: 74.57627%;
    float: left;
    margin-right: 1.69492%;
    display: inline; }
  .package__informations .package__informations__downloads {
    width: 23.72881%;
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline; }
  @media (max-width: 60em) {
    .package__informations .package__informations__downloads,
    .package__informations .package__informations__informations {
      float: none;
      width: auto;
      margin-right: auto;
      width: 100%;
      display: block; } }

.package__informations__downloads {
  margin-top: 1rem; }
  .package__informations__downloads dl {
    *zoom: 1;
    padding-left: 1rem; }
    .package__informations__downloads dl:after {
      content: "";
      display: table;
      clear: both; }
  .package__informations__downloads dt, .package__informations__downloads dd {
    display: block; }
  .package__informations__downloads dt {
    width: 9rem;
    float: left;
    clear: left;
    text-align: right;
    font-weight: bold; }
  .package__informations__downloads dd {
    margin-left: 10rem; }

.package__description {
  font-size: 1rem;
  font-style: italic;
  margin: 1rem 0; }

.packages-list {
  color: #869198; }
  .packages-list thead th {
    padding: 1rem; }
  .packages-list .tag, .packages-list .package__tags li, .package__tags .packages-list li {
    background-color: rgba(246, 111, 95, 0.5);
    font-size: 0.75rem;
    margin-left: 0.1rem; }
    .packages-list .tag:hover, .packages-list .package__tags li:hover, .package__tags .packages-list li:hover {
      background-color: #f66f5f; }

.packages-list__key {
  width: 5%;
  text-align: center; }

.packages-list__downloads {
  text-align: center;
  font-size: 1rem;
  font-weight: bold; }

.packages-list__description {
  color: #869198; }

.packages-list__empty {
  color: #869198;
  text-align: center; }
  .packages-list__empty td {
    padding: 2rem 0; }

.packages-list thead .packages-list__types th {
  background-color: #bdc3c7;
  color: #869198;
  text-shadow: none;
  font-size: 0.75rem;
  padding: 0.75rem 0; }
  .packages-list thead .packages-list__types th:hover {
    background-color: #d9dcde; }

.layout-header {
  padding: 5rem 0;
  background-image: url('../img/box.png?1372459248');
  background-repeat: no-repeat;
  background-size: 16rem;
  background-position: 20% 2rem; }
  .layout-header h1 {
    font-weight: 100;
    text-align: center; }
  @media (max-width: 60em) {
    .layout-header {
      padding: 2rem 0; }
      .layout-header h1 {
        font-size: 1rem; } }

.layout-search {
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
  width: 100%;
  border: none;
  padding: 1rem;
  padding-right: 0;
  font-size: 1.5rem;
  background-color: #f4f5f6;
  color: #869198;
  outline: 0; }
  .layout-search:focus {
    background-color: white; }

.layout-content {
  width: 100%;
  max-width: 150rem;
  margin: auto;
  padding: 0 2rem; }
  @media (max-width: 90em) {
    .layout-content {
      max-width: 100%;
      padding: 0 1rem; } }

.layout-footer {
  text-align: center;
  font-size: 0.75rem;
  padding: 2rem 0;
  text-shadow: none;
  font-weight: 100; }
  .layout-footer a {
    color: #fbc6c0; }
