body {
  font-family: "Proxima Nova", "proxima-nova", "Open Sans", Helvetica, Arial, sans-serif; }

a {
  color: #f66f5f;
  text-decoration: none; }

code pre {
  background-color: #f4f5f6;
  color: #869198;
  padding: 1rem; }

hr {
  border-color: #f4f5f6;
  border-width: 1px 0 0 0;
  margin: 2rem 0; }

table {
  width: 100%; }
  table th {
    font-weight: bold; }
    table th:hover {
      background-color: #f55947;
      cursor: pointer; }
  table tr:nth-child(odd) {
    background-color: #fafafa; }
  table td {
    padding: 0.5rem; }
  table tr:hover td {
    background-color: whitesmoke; }

table th.tablesorter-headerAsc, table th.tablesorter-headerDesc {
  background-color: #f55947;
  color: white; }
  table th.tablesorter-headerAsc:hover, table th.tablesorter-headerDesc:hover {
    background-color: #f3442f; }
table th.tablesorter-headerAsc div:before {
  content: "\25B2";
  margin-right: 8px;
  margin-right: 0.5rem; }
table th.tablesorter-headerDesc div:before {
  content: "\25BC";
  margin-right: 8px;
  margin-right: 0.5rem; }

table th, .package__tags li, .layout-header, .layout-footer {
  background-color: #f66f5f;
  color: white;
  text-shadow: 0 0.25em 0 rgba(0, 0, 0, 0.1); }
  table th a, .package__tags li a, .layout-header a, .layout-footer a {
    color: white; }

.package__tags, .layout-header h1 {
  margin: 0;
  padding: 0; }

.package {
  color: #869198; }
  .package h1, .package h2, .package h3 {
    font-weight: 100; }
    .package h1 small, .package h2 small, .package h3 small {
      color: #bdc3c7;
      font-size: 0.5em; }

.package__description {
  font-size: 1rem;
  font-style: italic;
  margin: 1rem 0; }

.package__tags li {
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  display: inline-block;
  margin-left: 0.25rem;
  padding: 0.25rem; }

.packages-list thead th {
  padding: 1rem 0; }

.packages-list__key {
  width: 5%;
  text-align: center; }

.packages-list__downloads {
  text-align: center;
  font-size: 1rem;
  font-weight: bold; }

.packages-list__description {
  color: #869198; }

.layout-header {
  padding: 5rem 0; }
  .layout-header h1 {
    font-weight: 100;
    text-align: center; }

.layout-search {
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
  width: 100%;
  border: none;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #f4f5f6;
  color: #869198;
  outline: 0; }
  .layout-search:focus {
    background-color: white; }

.layout-content {
  width: 100%;
  max-width: 130rem;
  margin: auto; }

.layout-footer {
  text-align: center;
  font-size: 0.75rem;
  padding: 2rem 0;
  text-shadow: none;
  font-weight: 100; }
  .layout-footer a {
    color: #fbc6c0; }
