// ABOUT PAGE
//
//////////////////////////////////////////////////////////////////////

.chart {
	width: 1000px;
	margin: auto;

	figcaption {
		width: 100%;
		text-align: center;
		font-size: 1.5rem;
		margin-bottom: 0.5rem;
	}
}