// Search
//
//////////////////////////////////////////////////////////////////////

#search {
	position: relative;
	max-width: 100%;
	margin: 0;
}

// Input
//////////////////////////////////////////////////////////////////////

input[type="text"].layout-search {
	width: 100%;
	font-size: 1.5rem;
}

// Close button
//////////////////////////////////////////////////////////////////////

.layout-search__reset {

	// Structure
	$offset: 0.5rem;
	position: absolute;
	right: $offset;
	top: $offset;

	// Appearance
	background: none;
	border: none;

	// Text
	color: $color-silver--dark;
	font-size: 2rem;
	font-weight: 100;

	@include breakpoint(max-width $tablet) {
		display: none;
	}

}