{% extends 'layouts.narrow' %}

{% block title %}
	Page not found -
{% endblock %}

{% block content %}
	<h1 class="error-title">404</h1>
	<p>
		The page was not found. What a coincidence.<br>
		WHAT THE HELL DID YOU TRY TO DO. THIS IS NOT FUNNY. <strong>STOP TRYING TO BREAK MY STUFF.</strong>
	</p>
{% endblock %}