// Properties patterns
//
//////////////////////////////////////////////////////////////////////

/**
 * A block with transitions
 */
%background-transition {
	@include transition(background .3s);
}

/**
 * A block with reset margin and padding
 */
%reset-margins {
	margin: 0;
	padding: 0;
}

/**
 * A border box block
 */
%border-box {
	box-sizing: border-box;
}

.hidden {
	display: none;
}

.visible {
	display: block
}