// FORMS
//
//////////////////////////////////////////////////////////////////////

$label-width: 15%;

form {
	margin: 2rem 0;

	.layout-content & {
		max-width: 80%;
		margin: 2rem auto;
	}

	p {
		margin: 1rem 0;
	}
}

legend {
	width: 100%;
	font-size: 2rem;
	border-bottom: 1px solid $color-silver;
	margin-bottom: 1rem;
}

.control-group {
	@include pie-clearfix;
	margin: 1rem 0;

	&.error .help-inline {
		clear: both;
		color: $color-red--dark;
		padding: 0;
		padding-top: 0.5rem;
		display: block;
		text-align: right;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea {
		float: right;
		width: (100% - $label-width);
	}

	label {
		float: left;
		width: $label-width;
	}

	input[type="submit"] {
		width: (100% - $label-width);
		margin-left: $label-width;
	}
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"],
textarea,
label {
	@extend %border-box;
	height: 3rem;
}

label {
	background-color: $color-silver--dark;
	padding: 0.5rem;
	padding-top: 1rem;
	color: white;
	text-align: right;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
	@extend %background-transition;
	background-color: $color-silver--light;
	border: none;
	color: $color-silver--dark;
	display: block;
	font-size: 1.25rem;
	padding: 1rem;
	width: 100%;

	@include input-placeholder {
		font-style: italic;
		color: lighten($color-silver--dark, 20);
	}

	// States
	&:focus {
		outline: 0;
		background-color: darken($color-silver--light, 5);
	}
	&:focus:invalid {
		background-color: $color-red--dark;
		color: white;

		@include input-placeholder {
			color: lighten($color-red--dark, 20);
		}
	}
}

textarea {
	min-height: 10rem;
}

input[type="submit"] {
	@extend .btn;
	margin-top: 0.5rem;
	margin-left: 0;
	width: 100%;
	font-size: 1.5rem;
	height: 3rem;
}