// Tables
//
//////////////////////////////////////////////////////////////////////

table {
	width: 100%;

	th {
		@extend %background-base;
		font-weight: bold;
		&:hover {
			background-color: darken($color-base, 5);
			cursor: pointer;
		}
	}

	tr:nth-child(odd) {
		background-color: grey(98);
	}

	td {
		padding: 0.5rem;
	}
	tr:hover td {
		background-color: grey(96);
	}
}

table th {
	$table-color: darken($color-base, 5);

	&.sort-asc,
	&.sort-desc, {
		background-color: $table-color;
		color: white;
		&:hover {
			background-color: darken($table-color, 5);
		}
	}

	&.sort-asc:before {
		content: "\25B2";
		@include rem(margin-right, 0.5rem);
	}
	&.sort-desc:before {
		content: "\25BC";
		@include rem(margin-right, 0.5rem);
	}
}

// Responsive
//////////////////////////////////////////////////////////////////////

table {
	@include breakpoint($tablet $wide) {
		.packages-list__tags {
			display: none;
		}
	}

	@include breakpoint(max-width $tablet) {
		thead, tbody, th, tr, td {
			display: block;
			width: 100%;
		}
		thead {
			display: none;
		}
		td:before {
			position: absolute;
			top: 3px;
			left: 10px;
			width: 35%;
			padding-right: 10px;
			white-space: nowrap;
			text-align: left;
			font-weight: 700;
			content: attr(data-title);
		}
		th, td {
			width: 70%;
			position: relative;
			padding-left: 30%;
			text-align: left;
		}
		tr {
			padding: 1rem 0;
		}
		td {
			@include box-sizing(border-box);
			width: 100%;
			text-align: left;
			&.packages-list__key {
				width: 100%;
				text-align: left;
			}
			&.packages-list__downloads {
				text-align: left;
			}
		}
	}
}