{% extends 'layouts.large' %}

{% block content %}
	<p style="font-size: 2rem; text-align: center">This website is deprecated, I don't have enough time to maintain it anymore. I recommend you check out <a href="http://packalyst.com/" target="_blank">Packalyst</a> instead.</p>
{% endblock %}

{% block js %}
	{{ Acetone.scripts('builds/js/home.js') }}
{% endblock %}
