<nav class="layout-navigation">
	{% if auth_guest() %}
		{{ html_decode(linkAction('MaintainersController@authorize', '<i class="icon-github"></i> Login with Github')) }}
	{% else %}
		{{ linkRoute('maintainer', "Logged in as #{auth_user().name}", auth_user().slug) }}
		{{ linkAction('MaintainersController@logout', 'Logout') }}
	{% endif %}
</nav>

<a href="{{ url('/') }}">
	<header class="layout-header">
		<h1>Laravel Packages <strong>Registry</strong></h1>
	</header>
</a>
