{% extends 'layouts.global' %}

{% block layout %}
	<a href="{{ url('/') }}">
		<header class="layout-header">
			<h1>Laravel Packages <strong>Registry</strong></h1>
		</header>
	</a>
	<main class="layout-content">
		{% block content %}
		{% endblock %}
	</main>
	{% include 'layouts.partials.footer' %}
{% endblock %}
