
// Variables
//
//////////////////////////////////////////////////////////////////////

$color-laravel      : rgb(246, 111, 95);
$color-silver       : #BDC3C7;
$color-silver--dark : darken($color-silver, 20);

$color-base         : $color-laravel;

$font-sans          : "Proxima Nova", "proxima-nova", "Open Sans", Helvetica, Arial, sans-serif;